<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/static/style/auth.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      </head>
<body>
    <div class="navbar">
        <div class="title"><a class="homeLink"href="/">FORUM</a></div>

        <div class="buttons">
            <button onclick="window.location.href='/authentification'">SignIn/SignUP</button>
        </div>
    </div>
       
  <div class="container">
    <div class="forms-container">
      <div class="form-control signup-form">
        <form action="#">
          <h2>Signup</h2>
          <input type="text" id="username_register" placeholder="Username" required />
          <input type="email" placeholder="Email" id="email_register" required />
          <input type="password" placeholder="Password" id="password_register" required />
          <input type="password" placeholder="Confirm password" id="confirm_password_register" required />
          <button>Signup</button>
        </form>
      </div>
      <div class="form-control signin-form">
        <form action="/login" method="POST">
          <h2>Signin</h2>
          <input type="text"id="username_login" placeholder="Username" required />
          <input type="password"id="password_login" placeholder="Password" required />
          <button>Signin</button>
        </form>
      </div>
    </div>
    <div class="intros-container">
      <div class="intro-control signin-intro">
        <div class="intro-control__inner">
          <h2>Welcome back!</h2>
          <p>
            Welcome back! We are so happy to have you here. It's great to see you again. We hope you had a safe and enjoyable time away.
          </p>
          <button id="signup-btn">No account yet? Signup.</button>
        </div>
      </div>
      <div class="intro-control signup-intro">
        <div class="intro-control__inner">
          <h2>Come join us!</h2>
          <p>
            We are so excited to have you here.If you haven't already, create an account to get access to exclusive offers, rewards, and discounts.
          </p>
          <button id="signin-btn">Already have an account? Signin.</button>
        </div>
      </div>
    </div>
  </div>
        <script type="text/javascript" src="/static/js/auth.js"></script>
</body>
</html>
